<!-- Main Content and Side Nav-->
<div class="row" ui-view>
  <!-- Aside -->
  <aside class="col-md-3">
    <!-- Search -->
    <div class="input-group search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      <input type="text" ng-model="search" class="form-control">
    </div>
    <!-- Categories -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Categories</h4>
      </div>
      <div class="panel-body">
        <p>Use this to Filter down your search</p>
        <!--<a class="btn btn-default" ng-click="filter.type = ''">Clear Filter</a>-->
      </div>
      <!-- List Group Categories-->
      <div class="list-group cat" ng-repeat="item in itemsForSale | unique:'type'">
        <a ng-click="filter.type = item.type" class="list-group-item">{{ item.type }}</a>
      </div>
      <div class="list-group">
        <a class="list-group-item text-center active" ng-click="filter.type = ''">Clear Filter</a>
      </div>
    </div>
  </aside>
  <!-- Main Content-->
  <div my-shoes class="col-md-9 main" ></div>
</div>


